*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
    height: 100%;
    background-color: #F1F0FF;
}

body {
    position: relative;
    min-height: 100%;
    padding-bottom: 2.5em;
    background-color: #F1F0FF;
}

.sideber-nav {
    width: 12em;
    border-right: 0.5px solid #CECECE;
    background-color: #F7F7F7;
    position: absolute;
    top: 0;
    padding: 6em 0.2em 1em 0.2em;
    height: 100%;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1em 1em 1em 15em;
  font-size: 0.9em;
}

.oep-header {
    position: absolute;
    z-index: 10;
    min-width: 100%;
}

.footer a {
    color: initial;
    text-decoration: none;
}

.footer a:hover {
    color: #A9A9A9;
}

.mambership-form {
    background-color: #FFFFFF;
    border: 1px solid #F1F0FF;
}
.mambership-form .title {
    background-color: #F1F0FF;
    text-align: center;
    color: #777777;
}

.form-disabled {
    cursor: not-allowed;
}

.container-fluid {
}

.mambership-layout {
    padding: 2em 5em 0em 5em;
    margin: 15px;
}

.nav-header,
.nav-header-main {
    height: 5em;
    border-radius: 0px;
    background-color: #265A88;
    min-width: 100%;
}

.nav-header {
    margin-bottom: 2.5em;
}

.rotate {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

.logout {
    position: absolute;
    margin: 1em;
    top: 0;
    right: 0;
    padding-right: 0.8em;
    font-size: 1.5em;
}

.subtitle {
    margin-top: 6em;
    margin-left: 12em;
}

.subtitle hr {
    border-top: 0.5px solid #B1BDCA;
    margin-top: 0;
    margin-bottom: 10px;
}

.logout a {
    text-decoration: none;
    color: #FFFFFF;
}

.logout a:hover {
    color: #CECECE;
}

.main-container {
    margin-left: 12em;
}

.nav-header .title, 
.nav-header-main .title {
    font-weight: bold;
    font-size: inherit;
    padding-top: 0.1em;
    color: #FFFFFF;
}

.nav-header .title:hover,
.nav-header .title:visited,
.nav-header-main .title:hover,
.nav-header-main .title:visited {
    color: #FFFFFF;
}

.sidebar-item {
    border-radius: 4px;
    background-color: #457CAD;
    margin: 0.2em;
    padding: 0.4em;
    text-align: center;
    color: #FFFFFF;
}

.sidebar-item:hover {
    cursor: pointer;
}

.active-item {
    font-weight: bold;
    background-color: #64646F;
}

.content-full {
    margin-bottom: 1em;
}

.spinner {
    content: url(../img/spinner.gif);
    margin: -0.1em 0em 0em 0.5em;
}

.nopadding:first-child {
    padding-left: 0;
}

.nopadding:last-child {
    padding-right: 0;
}

.mb05 {
    margin-bottom: 0.5em;
}

.mb1 {
    margin-bottom: 1em;
}

.drag-and-drop-list {
    list-style: none;
}

.drag-and-drop-item,
.dndPlaceholder {
    padding: 0.3em;
    margin-bottom: 1em;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: move;
}

.entity-list {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: auto;
    background-color: #ECEAFF;
    border: 1px solid #E4E4E4;
}

.entity-list table {
    margin: auto;
}

.entity-list thead {
    background-color: #DEDEF3;
}

.entity-list td,
.entity-list th {
    max-width: 25em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dndPlaceholder {
    min-height: 2em;
    background-color: #f6f6f6;
}

.entity-row-selected {
    background-color: #9d9d9d;
}

.entity-row-selection {
    width: 2em;
    min-width: 2em;
    max-width: 2em;
}

.timer {
    border: 0.2em solid #5681C1;
    border-radius: 5px;
    width: 5em;
    text-align: center;
    display: inline;
    padding: 6px 12px;
    font-weight: bold;
}

.flex {
    display: flex;
}

.jump-to-question {
    border: 0.1em solid;
    border-radius: 5px;
    display: table-row;
    margin-right: 1em;
    padding: 1.1em;
    width: 20%;
    overflow: auto;
}

.question {
    border: 0.1em solid;
    border-radius: 5px;
    display: table-row;
    width: 80%;
    padding: 1.1em;
    overflow: auto;
    position: relative;
}

.toppadding05 {
    padding-top: 0.5em;
}

.btn-group-question {
    position: absolute;
    bottom: 0;
    margin-bottom: 1em;
}

.textarea-fixed-width {
    min-width: 100%;
    max-width: 100%
}

.active-question {
    background-color: #E4EDFF;
}

.question-number:hover {
    background-color: #dddddd;
    cursor: pointer;
}

.text-error {
    color: #DE0703;
}