.registration {
    margin: auto;
    padding: 1em 2em 1em 2em;
    width: 80%;
    max-width: 600px;
    min-width: 350px;
    border: 1px solid #909090;
    border-radius: 5px;
}

.registration .registration__header {
    padding-bottom: 0.7em;
    text-align: center;
    margin-bottom: 0.5em;
    border-bottom: 2px solid #909090;
}

.registration .hr {
    border-bottom: 2px solid #909090;
    margin: -1em;
    margin-bottom: 1em;
    margin-top: inherit;
}