<div class="row mb1">
    <div class="col-xs-12 mb1">
        {{vm.displayNumber}} <oep-tex ng-model="vm.text" prop-to-watch="vm.text"></oep-tex>
    </div>
</div>
<div class="question-choices">
    <div class="row mb05" ng-repeat="choice in vm.choices">
        <div class="col-xs-12">
            <label>
                <input type="checkbox" ng-checked="choice.isSelected" ng-click="vm.refreshSelection(choice);" ng-disabled="enableAnswer < 0" />
                <oep-tex ng-model="choice.text" prop-to-watch="choice.text" ng-class="{'text-success': enableAnswer < 0 && choice.isCorrect}"></oep-tex>
            </label>
        </div>
    </div>
</div>
