<div class="btn-group" uib-dropdown style="width:100%">
    <button type="button" class="btn" ng-class="settings.buttonClass" uib-dropdown-toggle style="width:100%">
        <span class="pull-left">{{buttonText}}</span><span class="caret pull-right"></span>
    </button>
    <ul class="dropdown-menu" uib-dropdown-menu role="menu" style="min-width:100%">
        <li ng-repeat="option in options" ng-click="setOption(option[settings.idProp]);" role="menuitem">
            <a href="javascript:void(0);">{{option[settings.displayProp]}}</a>
        </li>
    </ul>
</div>
