<form class="form-group registration mambership-form" ng-submit="vm.login()" name="loginForm" ng-class="{'form-disabled': $root.loadingContent}" novalidate>
    <div class="row title mb1">
        <h3 class="h3">Prijava</h3>
    </div>
    <div class="row mb1">
        <div class="content-full">
            <label>E-mail</label>
            <input type="email" class="form-control input-group normal ui" ng-model="vm.user.login.userName" ng-disabled="$root.loadingContent" required />
        </div>
    </div>
    <div class="row mb1">
        <div class="content-full">
            <label>Lozinka</label>
            <input type="password" class="form-control input-group normal ui" ng-model="vm.user.login.password" ng-disabled="$root.loadingContent" required />
        </div>
    </div>
    <div class="row">
        <div class="pull-right">
            <button type="submit" class="btn btn-primary" ng-disabled="$root.loadingContent">Prijava</button>
        </div>
    </div>
</form>
