<form class="form-group registration mambership-form" ng-submit="vm.login()" name="loginForm" novalidate>
    <div class="row title mb1">
        <h3 class="h3">Prijava</h3>
    </div>
    <div class="row">
        <div class="content-full">
            <label>E-mail</label>
            <input type="email" class="form-control input-group normal ui" ng-model="vm.user.userName" required />
        </div>
    </div>
    <div class="row">
        <div class="content-full">
            <label>Lozinka</label>
            <input type="password" class="form-control input-group normal ui" ng-model="vm.user.password" required />
        </div>
    </div>
    <div class="row">
        <div class="content-full pull-right">
            <button type="submit" class="btn btn-primary"><span class="spinner" ng-show="vm.showSpinner">&nbsp;&nbsp;</span>Prijava</button>
        </div>
    </div>
</form>