<form class="form-group registration mambership-form" ng-submit="vm.register()" name="registrationForm" ng-class="{'form-disabled': $root.loadingContent}" novalidate>
    <div class="row title mb1">
        <h3 class="h3">Registracija</h3>
    </div>
    <div class="row mb1">
        <div class="content-full">
            <label>E-mail</label>
            <input type="email" class="form-control input-group normal ui" ng-model="vm.user.email" ng-disabled="$root.loadingContent" required />
        </div>
    </div>
    <div class="row mb1">
        <div class="content-full">
            <label>Lozinka</label>
            <input type="password" class="form-control input-group normal ui" ng-model="vm.user.password" ng-disabled="$root.loadingContent" required />
        </div>
    </div>
    <div class="row mb1">
        <div class="content-full">
            <label>Ponovljena lozinka</label>
            <input type="password" class="form-control input-group normal ui" ng-model="vm.user.confirmPassword" ng-disabled="$root.loadingContent" required />
        </div>
    </div>
    <div class="row">
        <div class="pull-right">
            <button type="submit" class="btn btn-primary" ng-disabled="$root.loadingContent">Registriraj me!</button>
        </div>
    </div>
</form>