<div class="row">
    <div class="col-md-6">
        <label>Tip zadatka</label>
        <br />
        <oep-singleselect-dropdown selected-model="question.questionType" options="vm.questionTypes.data"></oep-singleselect-dropdown>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <label>Tekst</label>
        <br />
        <textarea ng-model="question.text" rows="7" style="min-width:100%;max-width:100%"></textarea>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <label>Ponuđeni odgovori</label>
        <br />
    </div>
</div>
<div class="row" ng-repeat="choice in question.answerChoices">
    <div class="col-md-4">
        <label>Tekst</label>
        <br />
        <textarea rows="2" ng-model="choice.text" style="min-width:100%;max-width:100%"></textarea>
    </div>
    <div class="col-md-1">
        <label>Bodovi</label>
        <br />
        <input type="number" ng-model="choice.points" style="max-width:100%" />
    </div>
    <div class="col-md-1">
        <label>&nbsp;</label>
        <br />
        <div class="btn-group pull-right">
            <button class="btn btn-primary" type="button" ng-click="vm.removeChoice($index)">-</button>
            <button class="btn btn-primary" type="button" ng-click="vm.addChoice($index)">+</button>
        </div>
    </div>
</div>
