<div ng-show="vm.showForm">
    <form class="form-group" name="testingAreaEditForm" ng-submit="vm.saveTestingArea()" novalidate>
        <div class="row mb1">
            <div class="col-md-6">
                <label>Naziv</label>
                <input type="text" class="form-control" ng-model="vm.testingArea.title" />
            </div>
        </div>
        <div class="row mb1">
            <div class="col-md-6">
                <label>Skraćenica</label>
                <input type="text" class="form-control" ng-model="vm.testingArea.abbreviation" />
            </div>
        </div>
        <div class="row mb1">
            <div class="col-md-6">
                <hr />
            </div>
        </div>
        <div class="row mb1">
            <div class="col-md-6">
                <div class="btn-group pull-right">
                    <button class="btn btn-primary" type="submit">Spremi</button>
                    <button class="btn btn-primary" ui-sref="main.testing-areas">Odustani</button>
                </div>
            </div>
        </div>
    </form>
</div>