<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="spinner" ng-show="$root.loadingContent">&nbsp;&nbsp;</span><a class="navbar-brand" ui-sref="main.home">Online ispiti</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a ui-sref="main.testing-areas">Područja ispitivanja</a></li>
                <li><a ui-sref="main.roles">Tipovi korisnika</a></li>
                <li><a ui-sref="main.question-types">Tipovi zadataka</a></li>
                <li><a ui-sref="main.questions">Zadaci</a></li>
                <li><a ui-sref="main.exams">Ispiti</a></li>
                <li><a ui-sref="main.simulator">Simulator</a></li>
            </ul>
            <a class="glyphicon glyphicon-log-out pull-right" ng-click="logout()"></a>
        </div>
    </div>
</nav>
