<div>
    <oep-header class="oep-header"></oep-header>
    <oep-sidebar class="sideber-nav"></oep-sidebar>
    <div class="container-fluid" ng-show="$root.title">
        <div class="subtitle">
            <h3>{{$root.title}} <em ng-show="$root.subtitle">{{$root.subtitle}}</em></h3>
            <hr />
        </div>
    </div>
    <div ng-show="$root.error" class="row">
        <div class="server-error">{{$root.error}}</div>
        <br />
    </div>    
    <div ui-view class="container-fluid main-container"></div>
    <oep-footer></oep-footer>
</div>
