<div class="row mb05">
    <div class="col-sm-12 col-lg-8" ng-if="vm.examLength || vm.examLength === 0">
        <div class="pull-right">
            <oep-timer time-in-seconds="vm.examLength"></oep-timer>
        </div>
    </div>
</div>
<div class="row mb1">
    <div class="col-lg-8 flex">
        <div class="jump-to-question">
            Pitanja<hr />
            <ol>
                <li ng-repeat="question in vm.questions">
                    <span class="glyphicon glyphicon-record">&nbsp;</span>
                </li>
            </ol>
        </div>
        <div class="question" id="simulator">            full question
            <br />            full question
            <br />            full question
            <br />            full question
            <br />            full question
            <br />            full question
            <br />            full question
            <br />            full question
            <br />            full question
            <br />            full question
            <br />            full question
            <br />            full question
            <br />            full question
            <br />            full question
            <br />            full question
            <br />            full question
            <br />            full question
            <br />            full question
            <br />            full question
            <br />            full question
            <br />            full question
            <br />            full question
            <br />            full question
            <br />            full question
            <br />            full question
            <br />            full question
            <br />            full question
            <br />            full question
            <br />            full question
            <br />            full question
            <br />            full question
            <br />            full question
            <br />            full question
            <br />            full question
            <br />            full question
            <br />            full question
            <br />            full question
            <br />            full question
            <br />            full question
            <br />            full question
            <br />            full question
            <br />            full question
            <br />            full question
            <br />            full question
            <br />            full question
            <br />            full question
            <br />            full question
            <br />            full question
            <br />            full question
            <br />            full question
            <br />            full question
            <br />            full question
            <br />            full question
            <br />            full question
            <br />            full question
            <br />            full question
            <br />            full question
            <br />            full question
            <br />            full question
            <br />            full question
            <br />            full question
            <br />            full question
            <br />            full question
            <br />            full question
            <br />            full question
            <br />            full question
            <br />            full question
            <br />            full question
            <br />            full question
            <br />            full question
            <br />
        </div>
    </div>
</div>
